.company-container {
  display: flex;
  justify-content: center;
  gap: 20vw;
  align-items: center;
  margin-top: 80px;
}

.company-info {
  text-align: left;
}

.company-socials p a {
  color: #fff;
}

.capitalize {
  text-transform: capitalize;
}
