.navbar {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 20vw;
  cursor: pointer;
}

.navtabs-wrapper {
  display: flex;
  gap: 40px;
  font-size: 32px;
  font-weight: 600;
}

.navtabs-wrapper a {
  color: white;
  text-decoration: none;
}
